#board-content{
    margin-top: 50px;
    display: inline-block;
    background: url("../media/korek.jpg") repeat;
    border: 10px groove burlywood;
    overflow: scroll;
    width: 100%;
    min-height: 550px;
}

.arrow{
    display: inline-block;
    float: right;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid transparent;
}


.navmenu-left li a{
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 60px;
}

.cardHeader{
    border-bottom: 3px solid white;
}

.addNoteButton{
    margin-top: 6px;
    width: 30px;
    margin-left: 40%;
    margin-right: 40%;
    height: 20px;
    font-size: 20px;
    line-height: 0px;
    font-weight: bold;
    opacity: 0.1;
}
.addNoteButton:hover{
    opacity: 1;
}

#card{
    min-width: 200px;
    max-width: 300px;
    min-height: 130px;
    cursor: pointer;
    float: left;
    margin: 10px;
    padding: 20px;
    padding-right: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.hiddenForm{
    display: none;
}

.note{
    font-weight: initial;
    margin: 0;
    padding-left: 20px;
}

/*.cardHeader, .dropdown-item{*/
    /*mix-blend-mode: difference;*/
/*}*/

.deletenotelink{
    color: white;
    opacity: 0.1;
}
.deletenotelink:hover{
    color: white;
    opacity: 1;
    text-decoration: none;
}

.addNoteForm{
    width: auto;
}

@media (max-width: 900px) {
    #card{
        left: auto !important;
        top: auto !important;
    }
}